body {
  background-color: #ffc0cb;
}

.main{
  text-align: center;
}

p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'DNFBitBitv2';
  font-size: 120px;
}

#img {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}


@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}